@import "tailwindcss";
@theme {
  --color-bridalPink: #ec4899;
  --color-bridalRose: #f43f5e;
  --color-bridalGold: #d4af37;
}

html {
  scroll-behavior: smooth;
}
.fade-up {
  animation: fadeUp 0.9s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/* //hero animation  */

/* Smooth Luxury Fade */
@keyframes fadeLuxury {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-luxury {
  opacity: 0;
  animation: fadeLuxury 1.2s ease-out forwards;
}

.delay-1 { animation-delay: 0.3s; }
.delay-2 { animation-delay: 0.6s; }
.delay-3 { animation-delay: 0.9s; }